.availables__privates-box{
  margin:auto;
  width: 85%;
  @include device-medium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @include lg-device {
    width: 100%;
    text-align: center;

  }
  @include md-device {
    text-align: center;
    justify-content: space-evenly;
  }
}
.availables__privates{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 2rem 0rem 2rem 0rem;
    @include device-medium {
      text-align: center;
      width: 33%;
      margin: 0;
    }
    @include sm-device{
      width: 50%;
    }
    @include very-sm-device{
      width: 100%;
    }
  &-title{
    font-weight: $--font-weight-700;
    font-size: $--subtitle-font-size-sm;
    @include lg-device {
      font-size: 1.6rem;
    }
    @include sm-device{
      font-size: 1.5rem;

    }
  }
  &-subtitle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include lg-device {
      margin-left: 0rem;
      justify-content: center;

    }
    .count{
      background-color: $--availables-color;
      color: $--color-white;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
      font-size: 1.9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: $--font-weight-bold;

      @include lg-device {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
      }
      @include sm-device{
        font-size: 1.7rem;
      }
    }
    .text{
      margin-left: .9rem;
        h2{
          font-weight: $--font-weight-600;
          font-size: $--subtitle-font-size-ex-sm;
          @include lg-device {
            font-size: 1.4rem;
          }
          @include sm-device{
            font-size: 1.4rem;

          }
        }
    }
  }
}