.lv{
    border-left: 3px solid $--black-color;
    height:100vh;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
}
.hide__line{
    display: none;
}
.show__line{
    display: block;
}