.select__container{
    width: 85%;
    margin: auto;
    position: relative;
    &--title{
        font-weight: $--font-weight-900;
        font-size: $--title-font-size;

        @include lg-device {
            font-size: $--title-font-size-lg;
        }
        @include md-device {
            font-size: $--title-font-size-md;
        }
        @include sm-device {
            font-size: $--title-font-size-sm;
        }
        @include extra-sm-device {
            line-height: 2.5rem;
            font-size: $--title-font-size-ex-sm;
        }
    }


}
.select__container select{

    width:100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 38px;
    outline: 0;
    border: 0;
    background: #f0f0f0;
    color: $--black-color;
    font-size: 1.7rem;
    border:2px solid rgba(21,37,65,0.9);
    border-radius: .8rem;
    position: relative;
    transition: all 0.25s ease;
    @include lg-device {
        font-size: 1.6rem;
    }
    @include extra-sm-device {
        margin-top: 1rem;
    }
}
.select__container select::-ms-expand {
    display: none;
}
.select__container select:hover{
    background: rgba(21,37,65, 0.9);
    color: $--color-white;
}
.select__container .arrow{
    position: absolute;
    right: 20px;
    top: calc(50% + 15px);
    width: 25px;
    height: 25px;
    display: block;
    color: $--primary-color;
    transition: all 0.25s ease;
    @include extra-sm-device {
        top: calc(50% + 15px);
        right: 13px;
    }
}
.select__container select:hover ~ .arrow{
    color: $--color-white;

}
