.tippy-tooltip.toolMapMain-theme {
  background-color: $--background-color;
  border: 3px solid #224266;
  color: #224266;
  margin:auto;
  padding: .7rem .8rem .7rem .8rem;
  border-radius: .4rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: $--font-weight-600;
  width: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.tippy-popper[x-placement^='top']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow {
  border-top: 7px solid #224266;
}
.tippy-popper[x-placement^='top']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow::after {

}

.tippy-tooltip.lindavista-theme {
  border: 3px solid #224266;
  color: #224266;

  &:hover{
    background-color: #224266;
    color: #ffff;
    border: 3px solid #fff;

  }
}

.tippy-tooltip.senderos-theme {
  border: 3px solid #355b50;
  color: #355b50;
}



.tippy-popper[x-placement^='top']
.tippy-tooltip.senderos-theme
.tippy-arrow::after, .tippy-popper[x-placement^='top']
.tippy-tooltip.lindavista-theme
.tippy-arrow::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;

}






.tippy-tooltip.senderos-theme, .tippy-tooltip.lindavista-theme {
  background-color: $--background-color;
  margin:auto;
  padding: .7rem .8rem .7rem .8rem;
  border-radius: .4rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: $--font-weight-600;
  width: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}