.tippy-tooltip.toolMapMain-theme {
  background-color: $--background-color;
  border: 5px solid $--primary-color;
  color: #000;
  margin:auto;
  padding: .7rem .8rem .7rem .8rem;
  border-radius: .4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: $--font-weight-600;
  width: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.tippy-popper[x-placement^='top']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow {
  border-top: 7px solid $--primary-color;
}
.tippy-popper[x-placement^='top']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $--background-color;
}

.tippy-popper[x-placement^='left']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow {
  border-left: 7px solid $--primary-color;
}
.tippy-popper[x-placement^='left']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow::after {

  border-left: 6px solid $--background-color;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
}

.tippy-popper[x-placement^='right']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow {
  border-right: 7px solid $--primary-color;
}
.tippy-popper[x-placement^='right']
.tippy-tooltip.toolMapMain-theme
.tippy-arrow::after {
  border-left: 6px solid transparent;
  border-right: 6px solid $--background-color;
  border-top: 6px solid transparent;
}










