*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}

#app{
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  background-color: $--background-color;
  //padding-bottom: 1.5rem;
  padding-bottom: 15rem;

  @include md-device{
    padding-bottom: 35rem;

  }
}
