//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
#app {
  font-weight:normal;
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
}

h1{
  font-size: $--title-font-size;
  font-weight:900;
}
.swal2-title, .swal2-html-container{
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  @include lg-device {
    font-size: $--p-font-size-lg;
  }
  @include md-device {
    font-size: $--p-font-size-md;
  }
  @include sm-device {
    font-size: $--p-font-size-sm;
  }
  @include extra-sm-device {
    font-size: $--p-font-size-ex-sm;
  }
}
