.map_filter{
    display: flex; 
    align-items: flex-start;
    flex-direction: row;
    width:95%; 
    margin:auto; 
    @include device-medium {
        flex-direction: column-reverse
        
    }
}

.maphighlight__box{ 
    flex: 70%;
    svg{
        width: 100%;
    }
    @include device-medium {
    border-right: none; 
    width: 100%;      
    }

}
.select__box{
    flex: 30%;
    @include device-medium {
        border-right: none; 
        width: 100%;   
        padding: 3rem 0 3rem 0;  
        }
       
}

.box__svg{
    width: 95%;
    margin: auto;
    svg{
        width: 100%;
    }
}

.box__svg-deptos{
    width: 50%;
    margin: auto;
    @include lg-device {
        width: 90%;
        margin: auto;
    }
    svg{
        width: 100%;
    }
}

.box__svg-pdp{
    width: 50%;
    margin: auto;
    @include lg-device {
        width: 90%;
        margin: auto;
    }
    svg{
        width: 100%;
    }
}
.box__svg-bosques{
    width: 65%;
    margin: auto;
    @include lg-device {
        width: 90%;
        margin: auto;
    }
    svg{
        width: 100%;
    }
}

.caption__select{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    span{
        font-size: 1.6rem;
        font-weight: 600;
    }
}

