.polygon {
  cursor: pointer;
  // transition: all ease .2s;
  fill: #31af67;
  cursor: pointer;
  outline: none;
}
/*.vendido {
  fill: #b00000;
}

.disponible {
  fill: #31af67;
  opacity: 0.5;
}

.reservado {
  fill: #faf142;
}
.hovering{
  fill: black;
  opacity: 0.5;

}*/
