.svg__box{
  overflow-y: scroll;
  overflow-x: auto;
  width: 100%;
  height: 100vh;
  padding:0;
  margin: 0;
  position: fixed;
  z-index: 1;

}
.polygon__map-main{
  fill: transparent;
  cursor: pointer;
  outline: none;
}
@include lg-device{
  svg{
  width: 180%;

  }
}
@include sm-device{
  svg{
    width: 250%;
  }
}
@include extra-sm-device{
  svg{
    width: 300%;
  }
}
@include very-sm-device{
  svg{
    width: 380%;
  }
}