.svg__custom-boxmain{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
 display: block;
 position: fixed;
 background: $--color-white;
 top: 0;
 left: 0;
  line-height: normal;
  @include lg-device{
    
    
  }
}




.svg__box {
  // border: 1px solid red;
  width: 100%;


  @include lg-device{

    
  }
}
.polygon__map-main {
  fill: transparent;
  cursor: pointer;
  outline: none;
}
@include lg-device {
  svg {
    width: 180%;
  }
}
@include sm-device {
  svg {
    width: 250%;
  }
}
@include extra-sm-device {
  svg {
    width: 300%;
  }
}
@include very-sm-device {
  svg {
    width: 380%;
  }
}
