$--primary-color: #152541;
$--black-color: #000;
$--background-color: rgb(240, 240, 240);
$--color-white: #ffff;
$--border-color: #DADCE0;
$--btn-color-siguiente: #81110E;
$--availables-color: #31af67;
$--disponible-color: #31af67;
$--vendido-color: #B00000;
$--reservado-color: #FAF142;
$--bloqueado-color: #5C5656;
$--error-color: #dc3545;


//FONTS SIZES
$--title-font-size: 3.6rem;
$--title-font-size-lg: 3rem;
$--title-font-size-md: 2.9rem;
$--title-font-size-sm: 2.8rem;
$--title-font-size-ex-sm: 2.6rem;


$--subtitle-font-size: 2.6rem;
$--subtitle-font-size-lg: 2rem;
$--subtitle-font-size-md: 1.9rem;
$--subtitle-font-size-sm: 1.8rem;
$--subtitle-font-size-ex-sm: 1.7rem;


$--p-font-size: 1.8rem;
$--p-font-size-lg: 1.7rem;
$--p-font-size-md: 1.75rem;
$--p-font-size-sm: 1.65rem;
$--p-font-size-ex-sm: 1.4rem;


$--normal-font-size-input: 1.6rem;
$--small-font-size-input: 1.1rem;


//FONT WEIGTH
$--font-weight-900: 900;
$--font-weight-800: 800;
$--font-weight-700: 700;
$--font-weight-600: 600;
$--font-weight-500: 500;
$--font-weight-400: 400;
$--font-weight-300: 300;
$--font-weight-200: 200;
$--font-weight-100: 100;

$--font-weight-bold: bold;

